:root {
  --text-color: #000;
  --card-light: #D2EAFF;
  --card-dark: #8EC9FF;
  --card-width: 40px;
  --card-height: 60px;
  --border-radius: 4px;
  --color-attention: #f0c330;
  --color-negative: #ff5c5c;
  --color-positive: #87b965;
}

.app {
   padding: 40px;
}

.link {
  display: inline-block;
  padding: 10px;
  border: 1px dashed;
  text-decoration: none;
  position: relative;
  top: -20px;
  left: -20px;
}

.link:hover {
  border: 1px solid;
}

@media screen and (max-width: 500px) {
  .app {
    padding: 10px;
  }

  .link {
    top: -5px;
    left: -5px;
  }
}
